# Normal usage creates log files
*.log

# Ignore config files
*.conf

# Ignore old config files
*.rc

# Ignore temporary files
*.tmp

# Ignore generated database
*.db

# Ignore a testing unit
TESTING.unit
