# Normal usage creates log files
*.log

# Ignore config files
Talon_Bot.conf
.Talon_Bot.conf

# Ignore old config files
.Talon_Bot.rc
Talon_Bot.rc

# Ignore temporary files
*.tmp

# Ignore generated database
*.db

# Ignore a testing unit
TESTING.unit
